{% extends "app/base.html" %} {% load customfilters %} {% load humanize %} 
{% block title %}{{gym_name}}{% endblock %} {% block headerTitle %}{{gym_name}}
{% endblock %} {% block headerButtons %}
<a href="{% url 'app.home' %}" class="cursor-pointer text-lg font-normal">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5 8.25 12l7.5-7.5"
        />
    </svg>
</a>
{% endblock %} {% block content %}
<div class="font-roboto flex flex-col gap-9 px-4 py-6">
    <div class="flex flex-col gap-2">
        <div class="flex flex-row items-center justify-between">
            <h2 class="text-2xl leading-none font-bold">Estadísticas</h2>
            <span class="text-xs text-gray-500">{{period_label}}</span>
        </div>
        <div class="flex w-full flex-row gap-2">
            <div
                class="flex w-1/2 cursor-pointer flex-col gap-1 rounded-[8px] bg-white px-4 py-3 text-base font-normal shadow-sm"
            >
                <span class="text-xs text-gray-500">Miembros</span>
                <span
                    class="flex flex-row items-center gap-1 text-2xl font-bold"
                    >{{active_members}}
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-4 text-green-600"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                        />
                    </svg>
                </span>
            </div>
            <div
                class="flex w-1/2 cursor-pointer flex-col gap-1 rounded-[8px] bg-white px-4 py-3 text-base font-normal shadow-sm"
            >
                <span class="text-xs text-gray-500">Ingresos</span>
                <span
                    class="flex flex-row items-center gap-1 text-2xl font-bold"
                    >${{period_income|intcomma}}
                </span>
            </div>
        </div>
    </div>
    <div class="w-full grid grid-cols-3 gap-2">
        <a
            href="{% url 'app.hours' %}"
            class="flex cursor-pointer flex-col items-center gap-2 rounded-[8px] bg-white p-4 text-base font-normal shadow-sm"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 text-green-600"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"
                />
            </svg>

            Asistencia
        </a>
        <a
            href="{% url 'app.payments' %}"
            class="flex cursor-pointer flex-col items-center gap-2 rounded-[8px] bg-white p-4 text-base font-normal shadow-sm"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 text-green-500"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
            </svg>
            Pagos
        </a>
        <a
            href="{% url 'app.users' %}"
            class="flex cursor-pointer flex-col items-center gap-2 rounded-[8px] bg-white p-4 text-base font-normal shadow-sm"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 text-green-600"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z"
                />
            </svg>

            Miembros
        </a>

        <a
            href="{% url 'app.base_hours' %}"
            class="flex cursor-pointer flex-col items-center gap-2 rounded-[8px] bg-white p-4 text-base font-normal shadow-sm"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 text-green-600"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                />
            </svg>

            Horarios
        </a>
        <a
            href="{% url 'app.staff' %}"
            class="flex cursor-pointer flex-col items-center gap-2 rounded-[8px] bg-white p-4 text-base font-normal shadow-sm"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 text-green-600"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0 1 18 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3 1.5 1.5 3-3.75"
                />
            </svg>
            Entrenadores
        </a>
    </div>
</div>
{% endblock %}
