{% extends "app/base.html" %} {% block title %}Home{% endblock %} {% block body %}
<div class="relative min-h-svh w-full">
    <div class="absolute inset-0 -z-1">
        <img
            class="h-full w-full object-cover"
            src="https://www.datocms-assets.com/142867/1762071570-easy-gym.png"
            alt=""
        />
    </div>

    {% if user.is_authenticated %}
    <form
        action="{% url 'app.logout' %}"
        method="post"
        class="inline absolute bottom-4 left-4"
    >
        {% csrf_token %}
        <button type="submit" class="text-blue-600 cursor-pointer underline">
            Salir
        </button>
    </form>
    {% endif %}

    <div
        class="flex min-h-svh w-full flex-col items-center gap-14 bg-black/60 py-17"
    >
        <h1 class="text-[40px] font-extrabold leading-[45px] text-white text-center">Bienvenido<br> a Visan</h1>

        <!-- Selector/cambiador de gym -->
        <form method="post" class="flex w-full flex-col gap-4 px-6 text-white">
            {% csrf_token %} {% for g in gyms %}
            <button
                type="submit"
                name="gym_id"
                value="{{ g.id }}"
                class="flex h-[100px] cursor-pointer w-full flex-row items-center gap-6 rounded-[24px] bg-black/70 px-4 border {% if selected_gym_id == g.id %} border-green-400 {% else %} border-transparent {% endif %}"
            >

                <span class="text-lg font-bold uppercase">{{ g.name }}</span>
                {% if selected_gym_id == g.id %}
                <span class="ml-auto text-green-300 text-sm">Seleccionado</span>
                {% else %}
                <span class="ml-auto text-blue-300 text-sm">Seleccionar</span>
                {% endif %}
            </button>
            {% endfor %}
        </form>
    </div>
</div>
{% endblock %}
