{% extends "app/base.html" %}
{% load customfilters %}
{% block title %}Asistencias en {{gym_name}}{% endblock %} {% block headerTitle %}Asistencias en {{gym_name}}{% endblock %} {% block headerButtons %}
<a href="{% url 'app.admin' %}" class="cursor-pointer text-lg font-normal">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
    >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5 8.25 12l7.5-7.5"
        />
    </svg>
</a>
{% endblock %} {% block content %}
<div class="flex flex-col gap-6 p-4 py-6 font-roboto">
    <div class="flex flex-row items-center justify-between">
        <a class="px-4" href="?date={{ prev_date }}"
            ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.75 19.5 8.25 12l7.5-7.5"
                />
            </svg>
        </a>
        <h1 class="mx-auto text-xl font-semibold">{{date}}</h1>
        <a class="px-4" href="?date={{ next_date }}"
            ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m8.25 4.5 7.5 7.5-7.5 7.5"
                />
            </svg>
        </a>
    </div>
    <div class="flex flex-col gap-5">
        {% for hour in hours %}
        <div class="flex flex-col gap-4 rounded-[24px] bg-white p-4">
            <div
                class="flex flex-row items-center justify-between border-b border-gray-300 py-2"
            >
                <span class="text-base uppercase font-bold"
                    >{{hour.title}}</span
                >
                <span
                    class="flex items-center gap-1 text-base font-medium {% if hour.enrolled == 0 %} text-gray-600 {% elif hour.enrolled == hour.capacity %} text-red-600 {% else %} text-green-600 {% endif %}"
                    >{{hour.enrolled}}
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-5"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z"
                        />
                    </svg>
                </span>
            </div>
            <div class="flex flex-col gap-2">
                {% for user in hour.users %}
                <a 
                {% if request.is_admin %}
                    href="{% url 'app.profile' %}?userid={{user.id}}"
                    class="flex cursor-pointer flex-row items-center justify-between gap-2"
                {% else %}
                    aria-disabled="true" tabindex="-1"
                    class="pointer-events-none flex flex-row items-center justify-between gap-2 cursor-not-allowed"
                    title="No tienes permisos"
                {% endif %}
                >
                <div
                class="flex h-9 min-h-9 w-9 min-w-9 items-center justify-center rounded-full border border-gray-300 bg-blue-400"
                >
                    {{user.full_name|initials}}
                </div>
                    <div
                        class="flex w-full flex-row items-center justify-between border-b border-gray-300 py-2"
                    >
                        <div class="flex flex-col">
                            <span class="text-base font-medium"
                                >{{user.full_name}}</span
                            >
                            <span class="text-xs text-gray-500"
                                >{{user.phone}}</span
                            >
                        </div>
                        <div class="flex flex-row gap-1">
                            <span class="text-xs text-gray-500"
                                >{{user.signed_at.day}}</span
                            >
                            <span class="text-xs text-black"
                                >{{user.signed_at.time}}</span
                            >
                        </div>
                    </div>
                </a>
                {% empty %}
                <div class="flex items-center gap-3 rounded-[12px] border border-dashed border-gray-300 bg-gray-50 px-4 py-3">
                    <div class="flex min-h-9 min-w-9 h-9 w-9 items-center justify-center rounded-full bg-white shadow">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                          </svg>
                          
                    </div>
                    <div class="flex flex-col">
                      <span class="text-xs font-medium text-gray-700">Aún no hay registrados</span>
                      <span class="text-[10px] text-gray-500">Anima a los miembros a unirse a este horario.</span>
                    </div>
                  </div>
                  
                {% endfor %}
            </div>
        </div>
        {% empty%}
        <div class="flex items-center gap-3 rounded-2xl border border-amber-300 bg-amber-50 px-4 py-3 text-amber-800">
            <div class="flex min-h-9 min-w-9 h-9 w-9 items-center justify-center rounded-full bg-white/70">
              <!-- spinner -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
              </svg>
            </div>
            <div class="flex flex-col">
              <span class="text-sm font-semibold">¡Ups!</span>
              <span class="text-sm">Parece que no se han publicado los horarios para este día</span>
            </div>
          </div>
          
        {% endfor %}
    </div>
</div>
{% endblock %}
