{% extends "app/base.html" %} {% load customfilters %} {% block title %}Cambiar
contraseña{% endblock %} {% block headerTitle %}Seguridad{% endblock %} {% block headerButtons %}
<a
    href="{% url 'app.profile' %}?userid={{ gym_profile.id }}"
    class="cursor-pointer text-lg font-normal text-blue-500"
    >Cancelar</a
>
<button
    form="password-form"
    class="cursor-pointer text-lg font-bold text-blue-500"
>
    Guardar
</button>
{% endblock %} {% block content %}
<form
    method="post"
    id="password-form"
    class="font-roboto flex flex-col gap-6 px-4 py-6"
>
    {% csrf_token %} {% if form.non_field_errors %}
    <div class="rounded-lg bg-red-50 p-3 text-sm text-red-700">
        {{ form.non_field_errors }}
    </div>
    {% endif %}
    <div class="flex flex-col gap-4">
        <div class="flex flex-col rounded-[8px] bg-white px-4">
            <div class="relative">
                <span class="absolute top-4 text-xs">Actual</span>
                {{ form.old_password|add_class:"w-full py-3 pl-13 text-base font-normal ring-0 focus:ring-0 focus:outline-none" }}
            </div>
        </div>

        <div class="flex flex-col rounded-[8px] bg-white px-4">
            <div class="relative">
                <span class="absolute top-4 text-xs">Nueva</span>
                {{ form.new_password1|add_class:"w-full py-3 pl-13 text-base font-normal ring-0 focus:ring-0 focus:outline-none" }}
            </div>
            <div class="relative">
                <span class="absolute top-4 text-xs">Confirme</span>
                {{ form.new_password2|add_class:"w-full py-3 pl-13 text-base font-normal ring-0 focus:ring-0 focus:outline-none" }}
            </div>
        </div>
    </div>
</form>
{% endblock %}
